
html {
  padding: 0px;
  font-size: 16px;
  body {
    margin: 0px;
    padding: 0px;
    // ----------- INDEX.PHP FILE BEGINS -----------
    #indexWords {
      margin: 0px;
      padding: 30px 0px;
      color: rgb(181,7,7);
      text-align: center;
      background-image: url("img/index/ball_ref_edit.jpg");
      background-size: cover;
      width: 100%;
      p {
        margin: 0px;
        font-size: 12rem;
        font-family: 'Bevan', cursive;
      };
    };
    #bothAcctButtons {
      display: flex;
      justify-content: space-around;
      font-size: 5rem;
      color: white;
      font-family: 'Staatliches', cursive;
      text-align: center;
      #logButton {
        padding: 30px 0px;
        background-color: blue;
        width: 50%;
        cursor: pointer;
      };
      #signButton {
        padding: 30px 0px;
        background-color: green;
        width: 50%;
        cursor: pointer;
      };
    };
    .acctForms {
      padding: 20px 0px;
      text-align: center;
      width: 100%;
      table {
        width: 100%;
        tbody {
          tr {
            padding: 5px 0px;
            td {
              font-size: 3rem;
              width: 50%;
              input {
                border: 1px solid white;
                padding-left: 10px;
                font-size: 3rem;
                background-color: white;
                width: 88%;
              };
            };
          };
        };
      };
      input {
        margin: 20px 0;
        border-radius: 15px;
        padding: 0px 20px;
        color: black;
        font-size: 4rem;
        background-color: white;
      };
      .enterBttn {
        cursor: pointer;
      };
    };
    #logForm {
      color: white;
      background-color: blue;
      input {
        color: black;
      }
      #forgotBttn {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        text-decoration: underline;
        cursor: pointer;
      };
      #forgotBox {
        margin: 70px 10% 30px 10%;
        font-size: 2rem;
        display: none;
        width: 80%;
      };
    };
    #signForm {
      color: white;
      background-color: green;
    };
    #message {
      margin: 30px 0;
      padding: 0 5%;
      text-align: center;
      font-size: 3rem;
    };
    #indexMain {
      margin-top: 20px;
      #motto {
        padding: 30px 0 30px 10%;
        color: white;
        font-size: 4rem;
        font-family: 'Special Elite',cursive;
        text-align: left;
        background-color: grey;
        p {
          margin: 15px 0;
        }
      };
      #indexIntro {
        margin: 50px 0% 0px 0%;
        text-align: center;
        .introParagraph {
          margin: 0 10% 0 10%;
          b {;
            font-size: 5rem;
            font-family: 'Staatliches', cursive;
          };
          p {
            padding-bottom: 30px;
            text-align: left;
            font-size: 3rem;
            font-family: 'Catamaran', sans-serif;
          };
          div {
            border: 5px dashed black;
            padding: 0 5%;
            ul {
              li {
                text-align: left;
                font-size: 2rem;
                font-family: 'Catamaran', sans-serif;
              };
            };
          };
        };
        .imageBorder {
          margin-bottom: 100px;
          background-size: cover;
          height: 225px;
          width: 100%;
        };
      };
    };
    footer {
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      color: white;
      background-color: rgb(181,7,7);;
      a {
        border-radius: 15px;
        width: 20%;
        .footerLogo {
          margin: 50px 0;
          border-radius: 15px;
          width: 100%;
        };
      };
    };

    // ----------- PLAYER.PHP FILE BEGINS -----------
    #playerPage {
      #hqTitle {
        margin: 50px 0;
        font-size: 7rem;
        font-family: 'Bevan', cursive;
        color: rgb(181,7,7);
        text-align: center;
      };
      #message {
        margin-bottom: 30px;
        font-size: 2rem;
        text-align: center;
      };
      .allBox {
        margin: 0 2% 130px 2%;
        padding: 120px 0;
        background-size: cover;
        .allInnerBox {
          padding: 40px 10%;
          border-left: 1px solid grey;
          border-right: 1px solid grey;
          background-color: white;
          .allBoxTitle {
            margin-bottom:30px;
            font-size:4.7rem;
            font-family: 'Special Elite',cursive;
            color:rgb(181,7,7);
            width:80%;
          };
          #grpBoxTitle {

          };
        };
        #optionInnerBox {

        };
      };
      #topRow {

        #profIdBox {
          border-radius: 30px;
          color: rgb(181,7,7);
          background-image: url('img/player/soccer_bkgd.jpg');
          #profIdTable {
            table-layout: fixed;
            background-color: white;
            width: 100%;
            tr {
              font-size: 3rem;
              td {
                padding-top: 10px;
                padding-bottom: 10px;
                border: 2px solid grey;
                color: black;
                text-align: center;
              };
              .profTitle {
                border: none;
                color: white;
                background-color: grey;
              };
              .profInput {
                padding: 0 30px;
                text-align: left;
                overflow-x: scroll;
              };
            };
          };
          #profIdBtns {
            margin: 80px 0 20px 0;
            display: flex;;
            justify-content: space-between;
            input {
              border-radius: 15px;
              padding: 10px 40px;
              font-size: 4rem;
              color: white;
              cursor: pointer;
            };
            #plrEdit {
              background-color: blue;
            };
            #plrLogOut {
              background-color: rgb(183, 76, 55);
            };
          };
        };
        #grpListBox {
          border-radius: 30px;
          background-image: url('img/player/tennis_bkgd.jpg');
          #completeList {
            padding: 20px 5%;
            font-size: 3.5rem;
            background-color: lightgrey;
            width: 90%;
            max-height: 275px;
            overflow-y: scroll;
            a {
              text-decoration: none;
              color: white;
              .listContent {
                margin-top: 20px;
                border-radius: 0 50px 50px 0 ;
                padding: 20px 10% 20px 5%;
                display: flex;
                justify-content: space-between;
                background-color: blue;
                .rightArrow {
                  height: 0;
                  width: 0;
                  border-top: 20px solid transparent;
                  border-left: 40px solid white;
                  border-bottom: 20px solid transparent;
                  border-right: 0px solid transparent;
                };
              };
            };
            #emptyCurrentList {
              color: grey;
              font-size: 1.5rem;
              ul {
                margin-bottom: 0;
                li {

                };
              };
            };
          };
        };
      };
      #groupBox {
        border-radius: 30px;
        background-image: url('img/player/baseball_bkgd.jpg');
        #allNewOpts {
          .newGrpOption {
            margin: 20px 0;
            border-radius: 15px;
            padding: 20px 1%;
            background-color: green;
            .allOptTitle {
              padding: 10px 2%;
              display: flex;
              justify-content: space-between;
              text-align: center;
              font-size:3.5rem;
              font-family: 'Special Elite',cursive;
              color: white;
              width:96%;
            };
            #findGroup {
              #findGrpV {
                width: 50px;
                #findGrpVimg {
                  width: 100%;
                };
              };
            };
            #showAddBox {
              #showAddV {
                width: 50px;
                #showAddVimg {
                  width: 100%;
                };
              };
            };
            #findGroupBox {
              margin-top: 20px;
              form {
                margin: 0 2%;
                display: flex;
                justify-content: space-between;
                #searchBtn {
                  padding: 5px 10px;
                  border: 1px solid black;
                  border-radius: 15px;
                  font-size: 2.5rem;
                  background-color: lightgrey;
                  width: 30%;
                  cursor: pointer;
                };
                input {
                  font-size: 3rem;
                  width: 62%;
                };
              };
            };
            #searchResults {
              margin-top: 20px;
              padding: 10px 2%;
              font-size: 3rem;
              background-color: white;
              #resultList {
                margin: 0 0 15px 0;
                border: 1px solid lightgrey;
                border-spacing: 0px 15px;
                font-size: 3rem;
                width: 100%;
                p {
                  margin: 0;
                  padding: 15px 0;
                  color: black;
                  text-decoration: none;
                  font-size: 3rem;
                };
              };
              p {
                margin: 5px 0 0 0;
                padding: 0;
                font-size: 1.2rem;
                color: white;
                text-align: center;
                background-color: green;
              };
            };
            #showAddBox {

            };
            #addGroupBox {
              margin-top: 20px;
              color: white;
              font-size: 3rem;
              form {
                table {
                  tr {
                    td {
                      input {
                        font-size: 2.5rem;
                        width: 100%;
                      };
                      select {
                        color: black;
                        font-size: 2rem;
                        background-color: white;
                        width: 100%;
                        option {

                        };
                      };
                    };
                  };
                };
                div {
                  margin: 30px 0;
                  display: flex;
                  justify-content: space-around;
                  #submitNewGrp {
                    border: 5px solid white;
                    border-radius: 15px;
                    padding: 10px 20px;
                    font-size: 3rem;
                    color: white;
                    background-color: green;
                    cursor: pointer;
                  };
                  span {
                    margin-top: 15px;
                    u {
                      cursor: pointer;
                    };
                  };
                };
              };
            };
            #resultBox {
              margin: 0;
              text-decoration: none;
              overflow: scroll;
              background-color: white;
              max-height: 230px;
              p {
                margin: 0;
                padding: 20px 3%;
                text-align: center;
                font-size: 1.2rem;
                a {
                  font-size: inherit;
                };
              };
            };
          };
        };
      };
    };

    // ----------- PLAYER_EDIT.PHP FILE BEGINS -----------
    #plyrEditPage {
      #editTitle {
        margin: 50px 0;
        font-size: 7rem;
        text-align: center;
      };
      b {
        margin-bottom: 30px;
        display: block;
        font-size: 3rem;
        text-align: center;
      };
      form {
        table {
          margin-left: 5%;
          font-size: 3rem;
          width: 90%;
          th {
            border: 2px solid black;
          };
          td {
            border: 2px solid black;
            input {
              font-size: 3rem;
            };
          };
        };
        #plyrEditBttns {
          display: flex;
          justify-content: space-around;
          .onePlyrEditBttn {
            margin: 30px 0;
            border: 2px solid black;
            border-radius: 20px;
            padding: 20px;
            font-size: 3rem;
            cursor: pointer;
          };
        };
      };
      #delAndPsBox {
        margin-top: 100px;
        display: flex;
        font-size: 3rem;
        color: white;
        text-align: center;
        .pwAndDeleteBttns {
          padding: 20px 0;
          width: 50%;
          cursor: pointer;
        };
        #change-Pw-Btn {
          background-color: blue;
        };
        #showDeleteBox {
          background-color: red;
        };
      };
      #changePs {
        padding-top: 30px;
        background-color: blue;
        form {
          table {
            background-color: white;
          };
          div {
            display: flex;
            justify-content: space-around;
            input {
              margin: 20px 0;
              border: 2px solid white;
              font-size: 3rem;
              color: white;
              background-color: blue;
              cursor: pointer;
            };
            span {
              margin: 20px 0;
              padding: 0 10px;
              font-size: 3rem;
              color: white;
              background-color: blue;
              cursor: pointer;
            };
          };
        };
      };
      #deleteBox {
        padding: 30px 0;
        border: 10px solid red;
        color: red;
        font-size: 4rem;
        text-align: center;
        #warning {
          color: red;
          margin-bottom: 50px;
        };
        div {
          display: flex;
          justify-content: space-around;
          form {
            input {
              border: 2px solid red;
              padding: 10px;
              color: red;
              font-size: 2.1rem;
              background-color: white;
              cursor: pointer;
            };
          };
          #cancelDelete {
            border: 2px solid black;
            padding: 10px;
            color: black;
            font-size: 2rem;
            cursor: pointer;
          };
        };
      };
    };

    // ----------- GROUP.PHP FILE BEGINS -----------
    #groupPage {
      form {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        input {
          margin: 15px 15px 0 15px;
          padding: 10px 15px;
          border: 1px solid green;
          border-radius: 15px;
          font-size: 2.5rem;
          cursor: pointer;
        };
        #joinBttn {
          font-size: 3rem;
          color: white;
          background-color: blue;
        };
      };
      .allTitles {
        margin: 0 0 20px 10%;
        font-size: 4rem;
        font-family: 'Special Elite',cursive;
        text-align: left;
      };
      .allSubtitles {
        margin-bottom: 0px;
        border-radius: 20px 20px 0 0;
        padding: 30px 0;
        color: white;
        text-align: center;
        width: 50%;
      };
      #groupTopRow {
        #titleBox {

          #titleTab {
            color: rgb(181,7,7);
          };
          #groupTitle {
            margin: 0 0 75px 10%;
            font-size: 5.5rem;
            font-family: 'Staatliches', cursive;
          };
          #message {
            margin: 30px 0;
            padding: 0 5%;
            text-align: center;
            font-size: 3rem;
          };
        };
        #tournBox {

          #tournTableTitle {
            background-color: grey;
          };
          #tournTable {
            margin-left: 10%;
            table-layout: fixed;
            width: 80%;
            .rowTitle {
              border: 1px solid white;
              color: white;
              background-color: grey;
            };
            .rowValue {
              padding: 0 15px;
            };
            #grpEditBttn {
              border: none;
              background-color: lightgrey;
            };
            td {
              border: 1px solid grey;
              a {
                text-decoration:none;
                color: grey;
                div {
                  width: 100%;
                  height: 100%;
                };
              };
            };
          };
        };
      };
      table {
        margin: 0 0 40px 10%;
        text-align: center;
        th {
          font-size: 3rem;
          padding: 5px 0;
        };
        td {
          font-size: 3rem;
          padding: 5px 0;
        };
      };
      .allRounds {
        margin-left: 10%;
        border: 3px solid green;
        border-radius: 0 20px 0 0;
        font-size: 2.5rem;
        text-align: center;
        width: 80%;
        .rowTitle {
          border-radius: 0 20px 0 0;
          padding: 30px 0;
          color: white;
          font-size: 2.7rem;
          font-family: 'Special Elite',cursive;
          background-color: green;
          width: 100%;
        };
        .allRows {
          padding: 30px 2%;
          display: flex;
          justify-content: space-between;
          div {
            margin: 2px 1%;
            border-radius: 20px;
            width: 48%;
          };
        }
      };
      .allTables {
        margin-bottom: 80px;
        border: 1px solid grey;
        border-collapse: collapse;
        th {
          color: white;
        };
      };
      #inviteBox {
        margin: 0px 10% 80px 10%;
        border: 4px dashed black;
        padding: 30px 5%;
        width: 70%;
        #inviteTitle {
          color: rgb(181,7,7);
          text-align: center;
          font-size: 5rem;
          font-family: 'Staatliches', cursive;
        };
        .inviteIntro {
          margin: 30px 0;
          font-size: 3rem;
          font-family: 'Special Elite',cursive;
          line-height: 1.3;
        };
        .inviteCopyLine {
          display: flex;
          justify-content: space-between;
          .inviteBttn {
            border-radius: 15px;
            padding: 30px 0;
            color: white;
            text-align: center;
            font-size: 3rem;
            background-color: blue;
            width: 30%;
            cursor: pointer;
          };
          .inviteScroll {
            border: 2px solid black;
            padding: 30px 2%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            font-size: 2.5rem;
            width: 60%;
          };
        };
      };
      #currentTitle {
        color: white;
        background-color: blue;
      };
      #scrollPlayers {
        margin: 0 10% 80px 10%;
        border-bottom: 3px solid grey;
        max-height: 500px;
        overflow-y: scroll;
        #playerTable {
          margin-left: 0;
          margin-bottom: 0;
          table-layout: fixed;
          width: 100%;
          th {
            background-color: blue;
            overflow-y: hidden;
          };
          #playersTopRow {
            border-top: 1px solid blue;
            .userHead {
              width: 45%;
            };
          };
          tr {
            td {
              border: 1px solid black;
              padding: 15px;
              a {
                margin: 5px 0;
                border: 3px solid green;
                border-radius: 15px;
                padding: 5px 10px;
                color: green;
                text-decoration: none;
              };
              a:hover {
                cursor: pointer;
              }
            };
            .userCol {
              overflow-x: scroll;
            };
          };
          #hideMemberList {
            color: grey;
            text-align: left;
            td {
              padding: 40px 5%;
              font-size: 2rem;
              ul {
                margin-bottom: 0;
              };
            };
          };
        };
      };
      #bracketButton {
        form {
          input {
            margin: 20px 10% 80px 10%;
            border-radius: 55px;
            padding: 30px 0;
            font-size: 3.8rem;
            color: white;
            background-color: blue;
            width: 80%;
          };
        };
      };
      #resultListTitle {
        border-radius: 20px 20px 0 0;
        background-color: green;
      };
      #groupScrollBox {
        margin-left: 10%;
        margin-bottom: 100px;
        border: 3px solid green;
        border-radius: 0 0 20px 20px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        color: white;
        text-align: center;
        font-size: 3rem;
        font-family: 'Special Elite',cursive;
        background-color: green;
        width: 80%;
        div {
          padding: 10px 0;
          background-color: green;
          width: 30%;
          cursor: pointer;
        };
        #scrollLeft {
          border-radius: 70px 0 0 70px;
        };
        #scrollRight {
          border-radius: 0 70px 70px 0;
        };
      };
      #leaveGrpButton {
        margin-top: 100px;
        padding: 40px 0;
        color: white;
        font-size: 2rem;
        text-align: center;
        background-color: black;
      };
      #leaveGrpBox {
        padding: 50px 10%;
        font-size: 2.5rem;
        color: white;
        background-color: black;
        div {
          margin: 55px;
          display: flex;
          justify-content: space-between;
          form {
            width: 100%;
            input {
              border-radius: 15px;
              padding: 15px;
              font-size: 2.5rem;
              color: white;
              background-color: red;
            };
            span {
              padding: 15px;
            };
          };
        };
      };
    };

    // ----------- GROUP_EDIT.PHP FILE BEGINS -----------
    #groupEditPage {
      #mainEditTitle {
        margin: 40px 10% 80px 10%;
        font-size: 6.7rem;
        text-align: center;
      };
      b {
        margin-bottom: 30px;
        display: block;
        font-size: 3rem;
        text-align: center;
      };
      p {
        margin: 0 10% 50px 10%;
        font-size: 2.5rem;
      };
      ul {
        margin-left:15%;
        font-size:2.5rem;
        width:70%;
        li {

        };
      };
      form {
        #changeBox {
          margin: 0 2%;
          border-radius: 15px;
          padding: 20px 0;
          background-color: grey;
          table {
            margin: 20px 0 0 5%;
            border: 4px solid black;
            border-collapse: collapse;
            table-layout: fixed;
            font-size: 3.5rem;
            width: 90%;
            tr {
              th {
                border: 4px solid black;
                background-color: lightgrey;
                padding: 5px;
                text-align: center;
                vertical-align: middle;
              };
              td {
                border: 4px solid black;
                padding: 10px 0px;
                text-align: center;
                background-color: white;
                font-size: 3rem;
                input {
                  font-size: 3rem;
                  text-align: center;
                  width: 99%;
                };
                select {
                  font-size: 3rem;
                  option {

                  };
                };
              };
              #inviteLinkBox {
                padding: 20px 5%;
                text-align: left;
                overflow-wrap: break-word;
                word-wrap: break-word;
              };
            };
          };
          #changeBttnRow {
            margin: 40px 0 100px 0;
            input {
              cursor: pointer;
            };
          };
          #inviteTitle {
            margin-top: 80px;
            color: white;
            text-align: center;
            font-size: 4rem;
          };
          #inviteBox {
            margin: 50px 5% 0 5%;
            display: block;
            font-size: 4rem;
            width: 90%;
            .oneQA {
              margin-bottom: 20px;
              display: block;
              .inviteQ {
                margin-bottom: 0;
                padding: 10px 5%;
                display: block;
                background-color: lightgrey;
                text-align: center;
              };
              .inviteA {
                margin-top: 0;
                padding: 10px 5%;
                display: block;
                background-color: white;
              };
            };
          };
          div {
            // margin-top: 50px;
            display: flex;
            justify-content: space-around;
            input {
              border: 3px solid black;
              border-radius: 10px;
              padding: 10px 20px;
              font-size: 3rem;
            };
            #submitEnter {
              border: 3px solid blue;
              color: white;
              background-color: blue;
            };
          };
        };
        #delGrpButton {
          margin: 150px 20% 0 20%;
          border-radius: 5px;
          padding: 20px 0;
          color: white;
          font-size: 2.5rem;
          text-align: center;
          background-color: red;
          cursor: pointer;
        };
        #delGrpBox {
          margin: 0 20% 80px 20%;
          border: 2px solid red;
          padding: 15px 5% 50px 5%;
          color: black;
          background-color: white;
          #warningGrp {
            margin-bottom: 30px;
            font-size: 2.7rem;
            color: red;
            text-align: center;
          };
          p {
            margin-bottom: 50px;
            padding: 0px;
          };
          #warningRow {
            display: flex;
            justify-content: space-between;
            input {
              border: 3px solid red;
              border-radius: 30px;
              padding: 10px 20px;
              font-size: 2.5rem;
              color: red;
              background-color: white;
              cursor: pointer;
            };
            span {
              text-decoration: underline;
              font-size: 2.5rem;
              vertical-align: middle;
              cursor: pointer;
            };
          };
        };
      };
    };

    // ----------- GROUP_INVITE.PHP FILE BEGINS -----------
    #invitePage {

      #contentBody {
        margin: 30px 5%;
        background-color: white;
        .inviteTitle {
          margin-bottom: 40px;
          border-radius: 20px 20px 0 0;
          color: rgb(181,7,7);
          text-align: center;
          font-family: 'Bevan', cursive;
        };
        #inviteSubTitle {
          font-size: 4rem;
          a {
            color: inherit;
          };
        };
        #inviteMainTitle {
          margin-bottom: 0;
          color: gold;
          font-size: 6rem;
          background-color: black;
        };
        b {
          margin-bottom: 30px;
          display: block;
          font-size: 3rem;
          text-align: center;
        };
        #inviteBox {
          margin-bottom: 70px;
          border: 2px solid black;
          border-radius: 0 0 20px 20px;
          padding: 50px 8%;
          line-height: 57px;
          font-family: 'Special Elite',cursive;
          ul {
            margin: 30px 0;
            border: dashed black 2px;
            li:first-child {
              padding: 20px 4% 10px 4%;
            };
            li:last-child {
              padding: 10px 4% 20px 4%;
            };
          };
          p {

          };
          #bothInviteBttns {
            margin: 0;
            display: flex;
            justify-content: space-between;
            span {
              margin: 0;
              border: solid black 1px;
              border-radius: 20px;
              padding-top: 20px;
              font-size: 4rem;
              text-align: center;
              width: 47%;
              cursor: pointer;
            };
            #inviteLogin {
              color: black;
              background-color: gold;
            };
            #inviteCreate {
              color: gold;
              background-color: black;
            };
          };
          .inviteFormBox {
            border: 1px solid black;
            font-size: 3.5rem;
            form {
              .formTitle {
                margin: 60px 0 10px 0;
                text-align: center;
              };
              input {
                margin: 0 10%;
                border: 1px solid black;
                font-size: 3rem;
                text-align: center;
                width: 80%;
              };
              .submitInvite {
                margin: 50px 25% 30px 25%;
                border-radius: 30px;
                display: block;
                width: 50%;
              };
            };
          };
          #inviteLoginBox {
            display: none;
            color: black;
            background-color: gold;
          };
          #inviteCreateBox {
            display: none;
            color: gold;
            background-color: black;
          };
        };
      };
    };

    // ----------- BRACKET_MAKE.PHP FILE BEGINS -----------
    #makePage {
      #makeTitleBkgd {
        margin-bottom: 40px;
        padding: 90px 5%;
        background-size: cover;
        background-image: url('img/bracket_make/hockey_bkgd.jpg');
        #makeTitle {
          border-radius: 30px;
          padding: 40px 0;
          font-size: 8rem;
          font-family: 'Bevan', cursive;
          color: rgb(181,7,7);
          text-align: center;
          background-color: white;
        };
      };
      b {
        margin: 0 5% 30px 5%;
        display: block;
        font-size: 3rem;
        text-align: center;
      };
      #allGameLists {
        .gameList {
          margin: 0 5% 50px 5%;
          border: 3px solid green;
          border-radius: 20px;
          width: 90%;
          .roundTitle {
            border-radius: 20px 20px 0 0;
            padding: 30px 0;
            color: white;
            font-family: 'Special Elite',cursor;
            font-size: 5rem;
            text-align: center;
            background-color: green;
          };
          .waiting {
            margin-left: 50%;
            width: 300px;
            img {
              margin-left: -150px;
              height: 300px;
              width: 300px;
            };
          };
          .noTeams {
            padding: 100px 0;
            font-size: 4rem;
            font-family: "Courier New", Courier, monospace;
            text-align: center;
          };
          .allRoundLists {
            border-radius: 0 0 20px 20px;
            font-size: 2.7rem;
            div {
              padding: 20px 0;
              display: flex;
              justify-content: space-around;
              text-align: center;
              .allTeams {
                padding: 0;
                border: 4px solid green;
                border-radius: 20px;
                background-color: white;
                width: 40%;
                cursor: pointer;
              };
              .allTeams:last-child {
                border-radius: 20px;
              };
              .vs {
                padding: 0;
                width: 10%;
              };
            };
            div:last-child {
              border-radius: 0 0 20px 20px;
            };
          };
        };
      };
      #bracketRange {
        margin: 80px 10%;
        padding: 30px 5%;
        border-radius: 30px;
        text-align: center;
        font-size: 2.5rem;
        color: white;
        display: none;
        background-color: blue;
      };
      form {
        #makeSubmitBox {
          margin: 40px 5% 80px 5%;
          display: flex;
          justify-content: space-between;
          font-size: 6rem;
          font-family: 'Staatliches', cursive;
          #submitBracket{
            border-radius:10px;
            color: white;
            font-size: 4rem;
            text-align: center;
            background-color:blue;
            width: 50%;
            cursor: pointer;
          };
          #cancelBracket {
            font-size: 2rem;
            text-decoration: underline;
            background-color: lightgrey;
            width: 20%;
            cursor: pointer;
          };
        };
      };
    };

    // ----------- BRACKET_VIEW.PHP FILE BEGINS -----------
    #viewPage {
      form {
        #returnBttn {
          margin: 15px 15px 0 15px;
          padding: 10px 15px;
          border: 1px solid green;
          border-radius: 15px;
          font-size: 2.5rem;
        };
      };
      #titleBkgd {
        margin: 20px 0;
        padding: 100px 5%;
        background-size: cover;
        background-image: url('img/bracket_view/crowd_bar.jpg');
        #viewTitle {
          border-radius: 25px;
          font-size: 8rem;
          font-family: "Bevan", cursive;
          color: rgb(181,7,7);
          text-align: center;
          background-color: white;
        };
      };
      #statsBox {
        margin: 80px 5% 80px 5%;
        border-radius: 25px;
        padding: 50px 5%;
        text-align: center;
        font-size: 5rem;
        font-family: "Special Elite", cursive;
        color: white;
        background-color: blue;
        #plyrName {
          margin-bottom: 25px;
        };
        #scoreRow {
          margin-top: 25px;
        }
      };
      .oneScoreList {
        margin: 0 5% 80px 5%;;
        text-align: center;
        width: 90%;
        .oneTitle {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          font-size: 5.5rem;
          color: red;
          span {
            color: black;
            font-family: "Staatliches", cursive;
          };
        };
        .oneScoreRow {
          margin: 2px 0;
          border-radius: 15px;
          padding: 10px 3%;
          display: flex;
          justify-content: space-between;
          font-size: 3.5rem;
        };
      };
      #bottomPoints {
        display: none;
      };
      #showDelBox {
        margin: 40px 0 0 0;
        padding: 20px 0;
        font-size: 2rem;
        color: white;
        text-align: center;
        background-color: black;
      };
      #delBox {
        margin: 0;
        font-size: 2.5rem;
        padding: 30px 5%;
        background-color: lightgrey;
        p {
          margin-bottom: 60px;
          padding: 0 5%;
        };
        form {
          display: flex;
          justify-content: space-between;
          input {
            border-radius: 20px;
            padding: 20px;
            color: white;
            font-size: 3rem;
            background-color: red;
          };
          span {
            font-size: 3.5rem
          };
        };
      };
    };
    // ----------- ADMIN.PHP FILE BEGINS -----------
    #adminPage {
      #adminTitle {
        margin-top: 50px;
        margin-bottom: 110px;
        border: none;
        font-size: 4rem;
        text-align: center;
        text-decoration: underline;
      };
      div {
        border: 5px solid black;
        margin-bottom: 30px;
        .adminSubtitle {
          margin-bottom: 30px;
          border: none;
          font-size: 3rem;
          text-align: center;
        };
        div {
          border: none;
        };
        #searchBox {
          padding: 0 0 40px 10%;
          font-size: 2.5rem;
          form {
            width: 80%;
            input {
              display: block;
              font-size: 2.5rem;
              width: 100%;
            };
            #text {
              margin-bottom: 10px;
              border: 1px solid black;
            };
            #submit {
              border: 1px solid blue;
              color: white;
              background-color: blue;
              cursor: pointer;
            };
            #tournResults {
              margin-top: 50px;
              border: 1px solid black;
              font-size: 2.5rem;
              text-align: center;
              padding: 5px 0;
              width: 100%;
              tr {

                td {

                  input {
                    color: white;
                    background-color: green;
                  };
                };
              };
              tr:hover {
                background-color: lightgrey;
              };
            };
          };
        };
        #selectBox {
          display: flex;
          justify-content: space-around;
          font-size: 2.5rem;
          form {
            input {
              border: 1px solid black;
              font-size: 2.5rem;
            };
          };
        };
        #unselectBox {
          form {
            input {
              margin-left: 25%;
              color: white;
              font-size: 2.5rem;
              background-color: red;
              width: 50%;
            };
          };
        };
      };
      #tournTitleBox {
        padding: 30px 0;
        font-size: 3rem;
        text-align:center;
        background-color:green;
        color:white;
        div:last-child {
          margin-bottom: 0;
          form {
            margin-bottom: 0;
            display: flex;
            justify-content: space-around;
            width: 100%;
            input {
              font-size: 2.5rem;
              color: white;
              background-color: green;
              cursor: pointer;
            };
          };
        };
      };
      #teamListTable {
        margin: 0 0 50px 5%;
        border: 1px solid black;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 3rem;
        background-color: lightgrey;
        width: 90%;
        th {

        };
        tr {
          td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px 20px;
            white-space: nowrap;
            overflow-x: scroll;
          };
          td:first-child {
            width: 75%;
          };
          td:last-child {
            text-align: center;
          };
        };
      };
      form {
        div {
          border: 5px solid black;
          margin-bottom: 30px;
          .adminSubtitle {
            margin-bottom: 30px;
            border: none;
            font-size: 3rem;
            text-align: center;
          };
          div {
            border: none;
          };
          table {
            margin-left: 5%;
            width: 90%;
            tr {
              td {
                font-size: 2rem;
                text-align: center;
                input {
                  border: 1px solid black;
                  font-size: 3rem;
                  text-align: center;
                  color: black;
                  width: 100%;
                };
              };
            };
          };
          .adminGameBox {
            text-align: center;
          };
          #wildcardBox {
            div {
              div {
                font-size: 2.5rem;
              };
            };
          };
          #regularBox {

          };
          #thirdPlaceBox {

          };
        };
        #submitUpdate {
          margin: 0 0 150px 25%;
          color: white;
          font-size: 4rem;
          background-color: green;
          width: 50%;
        };
      };
      #aboutTeam {
        margin-bottom: 0;
        border: none;
        // border-top: 5px solid black;
        background-color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        div {
          margin-bottom: 0px;
          display: flex;
          justify-content: space-around;
          .teamBttn {
            padding: 10px 0;
            color: white;
            font-size: 3.5rem;
            width: 49%;
          };
          #findTeamBttn {
            background-color: green;
          };
          #makeTeamBttn {
            color: black;
            background-color: orange;
          };
        };
        .teamBox {
          padding-bottom: 20px;
          display: none;
          form {
            width: 100%;
            input {
              margin: 20px 0 0 10%;
              border: 1px solid black;
              font-size: 3rem;
              width: 80%;
            };
          };
        };
        #findTeamBox {
          padding-bottom: 20px;
          background-color: green;
          form {
            input {

            };
          };
        };
        #makeTeamBox {
          padding-bottom: 20px;
          background-color: orange;
          form {
            input {

            };
          };
        };
      };
    };
  };
};

@import '_1366px';
