html {
  padding: 0px;
  font-size: 16px;
  body {
    margin: 0px;
    padding: 0px;

    // ----------- INDEX.PHP FILE BEGINS -----------
    #indexTitle {
      margin: 0px;
      padding: 0px;
      color: black;
      text-align: center;
      // background-image: url("img/ball_ref.jpg");
      background-size: cover;
      p {
        margin: 0px;
        font-size: 12rem;
      };
    };
    #bothAcctButtons {
      display: flex;
      justify-content: space-around;
      color: white;
      font-size: 5rem;
      text-align: center;
      #logButton {
        padding: 30px 0px;
        background-color: blue;
        width: 50%;
      };
      #signButton {
        padding: 30px 0px;
        background-color: green;
        width: 50%;
      };
    };
    .acctForms {
      padding: 20px 0px;
      text-align: center;
      width: 100%;
      table {
        width: 100%;
        tbody {
          tr {
            // border: 1px solid white;
            padding: 5px 0px;
            td {
              font-size: 3rem;
              width: 50%;
              input {
                border: 1px solid white;
                padding-left: 10px;
                color: black;
                font-size: 3rem;
                background-color: white;
                width: 88%;
              };
            };
          };
        };
      };
      input {
        margin: 20px 0;
        border-radius: 15px;
        padding: 0px 20px;
        color: green;
        font-size: 4rem;
        background-color: white;
      }
    };
    #logForm {
      color: white;
      background-color: blue;
      input {
        color: blue;
      }
    };
    #signForm {
      color: white;
      background-color: green;
    };
    #indexMain {
      margin-top: 20px;
      background-color: orange;
      #motto {
        padding: 30px 0 30px 10%;
        color: white;
        font-size: 4rem;
        text-align: left;
        background-color: grey;
        p {
          margin: 15px 0;
        }
      };
      #indexIntro {
        margin: 50px 10% 0px 10%;
        text-align: center;
        b {;
          font-size: 5rem;
        };
        p {
          padding-bottom: 30px;
          text-align: left;
          font-size: 3rem;
        };
        ul {
          li {
            text-align: left;
            font-size: 1.8rem;
          };
        };
      };
    };
    footer {
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      color: white;
      background-color: red;
      a {
        border-radius: 15px;
        width: 20%;
        .footerLogo {
          margin: 50px 0;
          border-radius: 15px;
          width: 100%;
        };
      };
    };

    // ----------- PLAYER.PHP FILE BEGINS -----------
    #playerPage {
      #hqTitle {
        font-size: 9rem;
        text-align: center;
      };
      .allBox {
        margin: 0 2% 20px 2%;
        padding: 40px 10%;
        .allBoxTitle {
          margin-bottom:30px;
          font-size:3.5rem;
          color:white;
          width:80%;
        };
      };
      #profIdBox {
        background-color: grey;
        #profIdTable {
          border: 3px solid black;
          background-color: white;
          width: 100%;
          tr {
            font-size: 3rem;
            td {
              border: 2px solid black;
              border-collapse: collapse;
              text-align: center;
            };
            .profTitle {
              background-color: yellow;
            };
          };
        };
        #profIdBtns {
          margin: 20px 20%;
          display: flex;;
          justify-content: space-around;
          input {
            border-radius: 15px;
            padding: 10px 20px;
            font-size: 3rem;
            color: white;
          };
          #plrEdit {
            background-color: blue;
          };
          #plrLogOut {
            background-color: orange;
          };
        };
      };
      #grpListBox {
        background-color: blue;
        table {
          border: 3px solid black;
          background-color: white;
          width: 100%;
          tr {
            font-size: 3rem;
            th {
              background-color: yellow;
            };
            td {
              border: 2px solid black;
              border-collapse: collapse;
              text-align: center;
            };
          };
        };
      };
      #groupBox {
        background-color: green;
        .newGrpOption {
          margin: 20px 0;
          border: 2px solid white;
          padding: 10px 2%;
          .allOptTitle {
            display: flex;
            justify-content: space-between;
            text-align: center;
            font-size:3.5rem;
            color:white;
            width:100%;
          };
          #findGroup {
            #findGrpV {
              width: 50px;
              #findGrpVimg {
                width: 100%;
              };
            };
          };
          #showAddBox {
            #showAddV {
              width: 50px;
              #showAddVimg {
                width: 100%;
              };
            };
          };
          #findGroupBox {
            margin-top: 20px;
            form {
              display: flex;
              justify-content: space-between;
              #searchBtn {
                padding: 5px 10px;
                border: 1px solid black;
                border-radius: 15px;
                background-color: yellow;
              };
              input {
                font-size: 3rem;
              };
            };
          };
          #searchResults {
            margin-top: 10px;
            padding: 10px 2%;
            font-size: 3rem;
            background-color: white;
            table {
              margin-bottom: 25px;
              padding: 10px 2%;;
              border: 1px solid black;
              border-spacing: 0px 15px;
              width: 96%;
            };
            b {

            };
          };
          #showAddBox {

          };
          #addGroupBox {
            margin-top: 20px;
            color: white;
            font-size: 3rem;
            form {
              table {
                tr {
                  td {
                    input {
                      font-size: 2.5rem;
                      width: 100%;
                    };
                    select {
                      color: black;
                      font-size: 2rem;
                      background-color: white;
                      width: 100%;
                      option {

                      };
                    };
                  };
                };
              };
            };
          };
        };
      };
    };

    // ----------- PLAYER_EDIT.PHP FILE BEGINS -----------
    #plyrEditPage {

    };

  };
};
