html {
  padding: 0px;
  font-size: 16px; }
  html body {
    margin: 0px;
    padding: 0px; }
    html body #indexWords {
      margin: 0px;
      padding: 30px 0px;
      color: #b50707;
      text-align: center;
      background-image: url("img/index/ball_ref_edit.jpg");
      background-size: cover;
      width: 100%; }
      html body #indexWords p {
        margin: 0px;
        font-size: 12rem;
        font-family: 'Bevan', cursive; }
    html body #bothAcctButtons {
      display: flex;
      justify-content: space-around;
      font-size: 5rem;
      color: white;
      font-family: 'Staatliches', cursive;
      text-align: center; }
      html body #bothAcctButtons #logButton {
        padding: 30px 0px;
        background-color: blue;
        width: 50%;
        cursor: pointer; }
      html body #bothAcctButtons #signButton {
        padding: 30px 0px;
        background-color: green;
        width: 50%;
        cursor: pointer; }
    html body .acctForms {
      padding: 20px 0px;
      text-align: center;
      width: 100%; }
      html body .acctForms table {
        width: 100%; }
        html body .acctForms table tbody tr {
          padding: 5px 0px; }
          html body .acctForms table tbody tr td {
            font-size: 3rem;
            width: 50%; }
            html body .acctForms table tbody tr td input {
              border: 1px solid white;
              padding-left: 10px;
              font-size: 3rem;
              background-color: white;
              width: 88%; }
      html body .acctForms input {
        margin: 20px 0;
        border-radius: 15px;
        padding: 0px 20px;
        color: black;
        font-size: 4rem;
        background-color: white; }
      html body .acctForms .enterBttn {
        cursor: pointer; }
    html body #logForm {
      color: white;
      background-color: blue; }
      html body #logForm input {
        color: black; }
      html body #logForm #forgotBttn {
        margin-top: 30px;
        margin-bottom: 20px;
        text-decoration: underline; }
      html body #logForm #forgotBox {
        margin: 0px 10% 30px 10%;
        font-size: 2rem;
        display: none;
        width: 80%; }
    html body #signForm {
      color: white;
      background-color: green; }
    html body #message {
      margin: 30px 0;
      padding: 0 5%;
      text-align: center;
      font-size: 3rem; }
    html body #indexMain {
      margin-top: 20px; }
      html body #indexMain #motto {
        padding: 30px 0 30px 10%;
        color: white;
        font-size: 4rem;
        font-family: 'Special Elite',cursive;
        text-align: left;
        background-color: grey; }
        html body #indexMain #motto p {
          margin: 15px 0; }
      html body #indexMain #indexIntro {
        margin: 50px 0% 0px 0%;
        text-align: center; }
        html body #indexMain #indexIntro .introParagraph {
          margin: 0 10% 0 10%; }
          html body #indexMain #indexIntro .introParagraph b {
            font-size: 5rem;
            font-family: 'Staatliches', cursive; }
          html body #indexMain #indexIntro .introParagraph p {
            padding-bottom: 30px;
            text-align: left;
            font-size: 3rem;
            font-family: 'Catamaran', sans-serif; }
          html body #indexMain #indexIntro .introParagraph div {
            border: 5px dashed black;
            padding: 0 5%; }
            html body #indexMain #indexIntro .introParagraph div ul li {
              text-align: left;
              font-size: 2rem;
              font-family: 'Catamaran', sans-serif; }
        html body #indexMain #indexIntro .imageBorder {
          margin-bottom: 100px;
          background-size: cover;
          height: 225px;
          width: 100%; }
    html body footer {
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      color: white;
      background-color: #b50707; }
      html body footer a {
        border-radius: 15px;
        width: 20%; }
        html body footer a .footerLogo {
          margin: 50px 0;
          border-radius: 15px;
          width: 100%; }
    html body #playerPage #hqTitle {
      margin: 50px 0;
      font-size: 7rem;
      font-family: 'Bevan', cursive;
      color: #b50707;
      text-align: center; }
    html body #playerPage #message {
      margin-bottom: 30px;
      font-size: 2rem;
      text-align: center; }
    html body #playerPage .allBox {
      margin: 0 2% 130px 2%;
      padding: 120px 0;
      background-size: cover; }
      html body #playerPage .allBox .allInnerBox {
        padding: 40px 10%;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        background-color: white; }
        html body #playerPage .allBox .allInnerBox .allBoxTitle {
          margin-bottom: 30px;
          font-size: 4.7rem;
          font-family: 'Special Elite',cursive;
          color: #b50707;
          width: 80%; }
    html body #playerPage #topRow #profIdBox {
      border-radius: 30px;
      color: #b50707;
      background-image: url("https://ewedit.files.wordpress.com/2015/01/us-portugal-world-cup-14.jpg?w=612"); }
      html body #playerPage #topRow #profIdBox #profIdTable {
        background-color: white;
        width: 100%; }
        html body #playerPage #topRow #profIdBox #profIdTable tr {
          font-size: 3rem; }
          html body #playerPage #topRow #profIdBox #profIdTable tr td {
            border: 2px solid grey;
            color: black;
            text-align: center; }
          html body #playerPage #topRow #profIdBox #profIdTable tr .profTitle {
            border: none;
            color: white;
            background-color: grey; }
      html body #playerPage #topRow #profIdBox #profIdBtns {
        margin: 80px 0 20px 0;
        display: flex;
        justify-content: space-between; }
        html body #playerPage #topRow #profIdBox #profIdBtns input {
          border-radius: 15px;
          padding: 10px 40px;
          font-size: 4rem;
          color: white;
          cursor: pointer; }
        html body #playerPage #topRow #profIdBox #profIdBtns #plrEdit {
          background-color: blue; }
        html body #playerPage #topRow #profIdBox #profIdBtns #plrLogOut {
          background-color: #b74c37; }
    html body #playerPage #topRow #grpListBox {
      border-radius: 30px;
      background-image: url("https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Tennis/Galleries/The+Secret/Carousel.jpg"); }
      html body #playerPage #topRow #grpListBox #completeList {
        padding: 20px 5%;
        font-size: 3.5rem;
        background-color: lightgrey;
        width: 90%;
        max-height: 275px;
        overflow-y: scroll; }
        html body #playerPage #topRow #grpListBox #completeList a {
          text-decoration: none;
          color: white; }
          html body #playerPage #topRow #grpListBox #completeList a .listContent {
            margin-top: 20px;
            border-radius: 0 50px 50px 0;
            padding: 20px 10% 20px 5%;
            display: flex;
            justify-content: space-between;
            background-color: blue; }
            html body #playerPage #topRow #grpListBox #completeList a .listContent .rightArrow {
              height: 0;
              width: 0;
              border-top: 20px solid transparent;
              border-left: 40px solid white;
              border-bottom: 20px solid transparent;
              border-right: 0px solid transparent; }
        html body #playerPage #topRow #grpListBox #completeList #emptyCurrentList {
          color: grey;
          font-size: 1.5rem; }
          html body #playerPage #topRow #grpListBox #completeList #emptyCurrentList ul {
            margin-bottom: 0; }
    html body #playerPage #groupBox {
      border-radius: 30px;
      background-image: url("https://s-i.huffpost.com/gen/1717501/images/n-BASEBALL-628x314.jpg"); }
      html body #playerPage #groupBox #allNewOpts .newGrpOption {
        margin: 20px 0;
        border-radius: 15px;
        padding: 20px 1%;
        background-color: green; }
        html body #playerPage #groupBox #allNewOpts .newGrpOption .allOptTitle {
          padding: 10px 2%;
          display: flex;
          justify-content: space-between;
          text-align: center;
          font-size: 3.5rem;
          font-family: 'Special Elite',cursive;
          color: white;
          width: 96%; }
        html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroup #findGrpV {
          width: 50px; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroup #findGrpV #findGrpVimg {
            width: 100%; }
        html body #playerPage #groupBox #allNewOpts .newGrpOption #showAddBox #showAddV {
          width: 50px; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #showAddBox #showAddV #showAddVimg {
            width: 100%; }
        html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroupBox {
          margin-top: 20px; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroupBox form {
            margin: 0 2%;
            display: flex;
            justify-content: space-between; }
            html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroupBox form #searchBtn {
              padding: 5px 10px;
              border: 1px solid black;
              border-radius: 15px;
              font-size: 2.5rem;
              background-color: lightgrey;
              width: 30%;
              cursor: pointer; }
            html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroupBox form input {
              font-size: 3rem;
              width: 62%; }
        html body #playerPage #groupBox #allNewOpts .newGrpOption #searchResults {
          margin-top: 20px;
          padding: 10px 2%;
          font-size: 3rem;
          background-color: white; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #searchResults #resultList {
            margin: 0 0 15px 0;
            border: 1px solid lightgrey;
            border-spacing: 0px 15px;
            font-size: 3rem;
            width: 100%; }
            html body #playerPage #groupBox #allNewOpts .newGrpOption #searchResults #resultList p {
              margin: 0;
              padding: 15px 0;
              font-size: 3rem; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #searchResults p {
            margin: 5px 0 0 0;
            padding: 0;
            font-size: 1.2rem;
            color: white;
            text-align: center;
            background-color: green; }
        html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox {
          margin-top: 20px;
          color: white;
          font-size: 3rem; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form table tr td input {
            font-size: 2.5rem;
            width: 100%; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form table tr td select {
            color: black;
            font-size: 2rem;
            background-color: white;
            width: 100%; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form div {
            margin: 30px 0;
            display: flex;
            justify-content: space-around; }
            html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form div #submitNewGrp {
              border: 5px solid white;
              border-radius: 15px;
              padding: 10px 20px;
              font-size: 3rem;
              color: white;
              background-color: green;
              cursor: pointer; }
            html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form div span {
              margin-top: 15px; }
              html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form div span u {
                cursor: pointer; }
        html body #playerPage #groupBox #allNewOpts .newGrpOption #resultBox {
          margin: 0;
          text-decoration: none;
          overflow: scroll;
          background-color: white;
          max-height: 230px; }
          html body #playerPage #groupBox #allNewOpts .newGrpOption #resultBox p {
            margin: 0;
            padding: 20px 3%;
            text-align: center;
            font-size: 1.2rem; }
            html body #playerPage #groupBox #allNewOpts .newGrpOption #resultBox p a {
              font-size: inherit; }
    html body #plyrEditPage #editTitle {
      margin: 50px 0;
      font-size: 7rem;
      text-align: center; }
    html body #plyrEditPage b {
      margin-bottom: 30px;
      display: block;
      font-size: 3rem;
      text-align: center; }
    html body #plyrEditPage form table {
      margin-left: 5%;
      font-size: 3rem;
      width: 90%; }
      html body #plyrEditPage form table th {
        border: 2px solid black; }
      html body #plyrEditPage form table td {
        border: 2px solid black; }
        html body #plyrEditPage form table td input {
          font-size: 3rem; }
    html body #plyrEditPage form #plyrEditBttns {
      display: flex;
      justify-content: space-around; }
      html body #plyrEditPage form #plyrEditBttns .onePlyrEditBttn {
        margin: 30px 0;
        border: 2px solid black;
        border-radius: 20px;
        padding: 20px;
        font-size: 3rem; }
    html body #plyrEditPage #delAndPsBox {
      margin-top: 100px;
      display: flex;
      font-size: 3rem;
      color: white;
      text-align: center; }
      html body #plyrEditPage #delAndPsBox .pwAndDeleteBttns {
        padding: 20px 0;
        width: 50%; }
      html body #plyrEditPage #delAndPsBox #change-Pw-Btn {
        background-color: blue; }
      html body #plyrEditPage #delAndPsBox #showDeleteBox {
        background-color: red; }
    html body #plyrEditPage #changePs {
      padding-top: 30px;
      background-color: blue; }
      html body #plyrEditPage #changePs form table {
        background-color: white; }
      html body #plyrEditPage #changePs form div {
        display: flex;
        justify-content: space-around; }
        html body #plyrEditPage #changePs form div input {
          margin: 20px 0;
          border: 2px solid white;
          font-size: 3rem;
          color: white;
          background-color: blue; }
        html body #plyrEditPage #changePs form div span {
          margin: 20px 0;
          padding: 0 10px;
          font-size: 3rem;
          color: white;
          background-color: blue; }
    html body #plyrEditPage #deleteBox {
      padding: 30px 0;
      border: 10px solid red;
      color: red;
      font-size: 4rem;
      text-align: center; }
      html body #plyrEditPage #deleteBox #warning {
        color: red;
        margin-bottom: 50px; }
      html body #plyrEditPage #deleteBox div {
        display: flex;
        justify-content: space-around; }
        html body #plyrEditPage #deleteBox div form input {
          border: 2px solid red;
          padding: 10px;
          color: red;
          font-size: 2.1rem;
          background-color: white; }
        html body #plyrEditPage #deleteBox div #cancelDelete {
          border: 2px solid black;
          padding: 10px;
          color: black;
          font-size: 2rem; }
    html body #groupPage form {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between; }
      html body #groupPage form input {
        margin: 15px 15px 0 15px;
        padding: 10px 15px;
        border: 1px solid green;
        border-radius: 15px;
        font-size: 2.5rem;
        cursor: pointer; }
      html body #groupPage form #joinBttn {
        font-size: 3rem;
        color: white;
        background-color: blue; }
    html body #groupPage #groupTitle {
      margin: 0 0 75px 10%;
      font-size: 5.5rem;
      font-family: 'Staatliches', cursive; }
    html body #groupPage .allTitles {
      margin: 0 0 20px 10%;
      font-size: 4rem;
      font-family: 'Special Elite',cursive;
      text-align: left; }
    html body #groupPage .allSubtitles {
      margin-bottom: 0px;
      border-radius: 20px 20px 0 0;
      padding: 30px 0;
      color: white;
      text-align: center;
      width: 50%; }
    html body #groupPage #message {
      margin: 30px 0;
      padding: 0 5%;
      text-align: center;
      font-size: 3rem; }
    html body #groupPage #tournTableTitle {
      background-color: grey; }
    html body #groupPage #tournTable th {
      background-color: grey; }
    html body #groupPage table {
      margin: 0 0 40px 10%;
      text-align: center;
      width: 80%; }
      html body #groupPage table th {
        font-size: 3rem;
        padding: 5px 0; }
      html body #groupPage table td {
        font-size: 3rem;
        padding: 5px 0; }
    html body #groupPage .allRounds {
      margin-left: 10%;
      border: 3px solid green;
      border-radius: 0 20px 0 0;
      font-size: 2.5rem;
      text-align: center;
      width: 80%; }
      html body #groupPage .allRounds .rowTitle {
        border-radius: 0 20px 0 0;
        padding: 30px 0;
        color: white;
        font-size: 2.7rem;
        font-family: 'Special Elite',cursive;
        background-color: green;
        width: 100%; }
      html body #groupPage .allRounds .allRows {
        padding: 30px 2%;
        display: flex;
        justify-content: space-between; }
        html body #groupPage .allRounds .allRows div {
          margin: 2px 1%;
          border-radius: 20px;
          width: 48%; }
    html body #groupPage .allTables {
      margin-bottom: 80px;
      border: 1px solid grey;
      border-collapse: collapse; }
      html body #groupPage .allTables th {
        color: white;
        background-color: grey; }
      html body #groupPage .allTables td {
        border: 3px solid grey; }
    html body #groupPage #inviteBox {
      margin: 0px 5% 80px 5%;
      border: 4px dashed black;
      padding: 30px 5%;
      width: 80%; }
      html body #groupPage #inviteBox #inviteTitle {
        color: #b50707;
        text-align: center;
        font-size: 5rem;
        font-family: 'Staatliches', cursive; }
      html body #groupPage #inviteBox .inviteIntro {
        margin: 30px 0;
        font-size: 3rem;
        font-family: 'Special Elite',cursive;
        line-height: 1.3; }
      html body #groupPage #inviteBox .inviteCopyLine {
        display: flex;
        justify-content: space-between; }
        html body #groupPage #inviteBox .inviteCopyLine .inviteBttn {
          border-radius: 15px;
          padding: 30px 0;
          color: white;
          text-align: center;
          font-size: 3rem;
          background-color: blue;
          width: 30%;
          cursor: pointer; }
        html body #groupPage #inviteBox .inviteCopyLine .inviteScroll {
          border: 2px solid black;
          padding: 30px 2%;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
          font-size: 2.5rem;
          width: 60%; }
    html body #groupPage #currentTitle {
      color: white;
      background-color: blue; }
    html body #groupPage #scrollPlayers {
      margin: 0 10% 80px 10%;
      border-bottom: 3px solid grey;
      max-height: 500px;
      overflow-y: scroll; }
      html body #groupPage #scrollPlayers #playerTable {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%; }
        html body #groupPage #scrollPlayers #playerTable th {
          background-color: blue;
          overflow-y: hidden; }
        html body #groupPage #scrollPlayers #playerTable tr td {
          padding: 15px; }
          html body #groupPage #scrollPlayers #playerTable tr td a {
            margin: 5px 0;
            border: 3px solid green;
            border-radius: 15px;
            padding: 5px 10px;
            color: green;
            text-decoration: none; }
          html body #groupPage #scrollPlayers #playerTable tr td a:hover {
            cursor: pointer; }
        html body #groupPage #scrollPlayers #playerTable #hideMemberList {
          color: grey;
          text-align: left; }
          html body #groupPage #scrollPlayers #playerTable #hideMemberList td {
            padding: 40px 5%;
            font-size: 2rem; }
            html body #groupPage #scrollPlayers #playerTable #hideMemberList td ul {
              margin-bottom: 0; }
    html body #groupPage #bracketButton form input {
      margin: 20px 10% 80px 10%;
      border-radius: 55px;
      padding: 30px 0;
      font-size: 3.8rem;
      color: white;
      background-color: blue;
      width: 80%; }
    html body #groupPage #resultListTitle {
      border-radius: 20px 20px 0 0;
      background-color: green; }
    html body #groupPage #groupScrollBox {
      margin-left: 10%;
      margin-bottom: 100px;
      border: 3px solid green;
      border-radius: 0 0 20px 20px;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      color: white;
      text-align: center;
      font-size: 3rem;
      font-family: 'Special Elite',cursive;
      background-color: green;
      width: 80%; }
      html body #groupPage #groupScrollBox div {
        padding: 10px 0;
        background-color: green;
        width: 30%;
        cursor: pointer; }
      html body #groupPage #groupScrollBox #scrollLeft {
        border-radius: 70px 0 0 70px; }
      html body #groupPage #groupScrollBox #scrollRight {
        border-radius: 0 70px 70px 0; }
    html body #groupPage #leaveGrpButton {
      margin-top: 100px;
      padding: 20px 0;
      color: white;
      font-size: 1.5rem;
      text-align: center;
      background-color: black; }
    html body #groupPage #leaveGrpBox {
      padding: 50px 10%;
      font-size: 2.5rem;
      color: white;
      background-color: black; }
      html body #groupPage #leaveGrpBox div {
        margin: 55px;
        display: flex;
        justify-content: space-between; }
        html body #groupPage #leaveGrpBox div input {
          border-radius: 15px;
          padding: 15px;
          font-size: 2.5rem;
          color: white;
          background-color: red; }
        html body #groupPage #leaveGrpBox div span {
          padding: 15px; }
    html body #groupEditPage #mainEditTitle {
      margin: 40px 10% 80px 10%;
      font-size: 6.7rem;
      text-align: center; }
    html body #groupEditPage b {
      margin-bottom: 30px;
      display: block;
      font-size: 3rem;
      text-align: center; }
    html body #groupEditPage p {
      margin: 0 5% 50px 5%;
      font-size: 2.5rem; }
    html body #groupEditPage form #changeBox {
      margin: 0 2%;
      border-radius: 15px;
      padding: 20px 0;
      background-color: grey; }
      html body #groupEditPage form #changeBox table {
        margin: 20px 0 0 5%;
        border: 4px solid black;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 3.5rem;
        width: 90%; }
        html body #groupEditPage form #changeBox table tr th {
          border: 4px solid black;
          background-color: lightgrey;
          padding: 5px;
          text-align: center;
          vertical-align: middle; }
        html body #groupEditPage form #changeBox table tr td {
          border: 4px solid black;
          padding: 10px 0px;
          text-align: center;
          background-color: white;
          font-size: 3rem; }
          html body #groupEditPage form #changeBox table tr td input {
            font-size: 3rem;
            text-align: center;
            width: 99%; }
          html body #groupEditPage form #changeBox table tr td select {
            font-size: 3rem; }
        html body #groupEditPage form #changeBox table tr #inviteLinkBox {
          padding: 20px 5%;
          text-align: left;
          overflow-wrap: break-word;
          word-wrap: break-word; }
      html body #groupEditPage form #changeBox #inviteBox {
        margin: 0 5%;
        display: block;
        font-size: 4rem;
        width: 90%; }
        html body #groupEditPage form #changeBox #inviteBox .inviteQ {
          margin-bottom: 0;
          padding: 10px 5%;
          display: block;
          background-color: lightgrey;
          text-align: center; }
        html body #groupEditPage form #changeBox #inviteBox .inviteA {
          margin-top: 0;
          padding: 10px 5%;
          display: block;
          background-color: white; }
      html body #groupEditPage form #changeBox div {
        margin-top: 50px;
        display: flex;
        justify-content: space-around; }
        html body #groupEditPage form #changeBox div input {
          border: 3px solid black;
          border-radius: 10px;
          padding: 10px 20px;
          font-size: 3rem; }
        html body #groupEditPage form #changeBox div #submitEnter {
          border: 3px solid blue;
          color: white;
          background-color: blue; }
    html body #groupEditPage form #delGrpButton {
      margin: 150px 20% 0 20%;
      border-radius: 5px;
      padding: 20px 0;
      color: white;
      font-size: 2.5rem;
      text-align: center;
      background-color: red; }
    html body #groupEditPage form #delGrpBox {
      margin: 0 20% 80px 20%;
      border: 2px solid red;
      padding: 15px 5% 50px 5%;
      color: black;
      background-color: white; }
      html body #groupEditPage form #delGrpBox #warningGrp {
        margin-bottom: 30px;
        font-size: 2.7rem;
        color: red;
        text-align: center; }
      html body #groupEditPage form #delGrpBox p {
        margin-bottom: 50px;
        padding: 0px; }
      html body #groupEditPage form #delGrpBox #warningRow {
        display: flex;
        justify-content: space-between; }
        html body #groupEditPage form #delGrpBox #warningRow input {
          border: 3px solid red;
          border-radius: 30px;
          padding: 10px 20px;
          font-size: 2.5rem;
          color: red;
          background-color: white;
          cursor: pointer; }
        html body #groupEditPage form #delGrpBox #warningRow span {
          text-decoration: underline;
          font-size: 2.5rem;
          vertical-align: middle;
          cursor: pointer; }
    html body #invitePage #contentBody {
      margin: 30px 5%;
      background-color: white; }
      html body #invitePage #contentBody .inviteTitle {
        margin-bottom: 40px;
        border-radius: 20px 20px 0 0;
        color: #b50707;
        text-align: center;
        font-family: 'Bevan', cursive; }
      html body #invitePage #contentBody #inviteSubTitle {
        font-size: 4rem; }
        html body #invitePage #contentBody #inviteSubTitle a {
          color: inherit; }
      html body #invitePage #contentBody #inviteMainTitle {
        margin-bottom: 0;
        color: gold;
        font-size: 6rem;
        background-color: black; }
      html body #invitePage #contentBody b {
        margin-bottom: 30px;
        display: block;
        font-size: 3rem;
        text-align: center; }
      html body #invitePage #contentBody #inviteBox {
        margin-bottom: 70px;
        border: 2px solid black;
        border-radius: 0 0 20px 20px;
        padding: 50px 8%;
        line-height: 57px;
        font-family: 'Special Elite',cursive; }
        html body #invitePage #contentBody #inviteBox ul {
          margin: 30px 0;
          border: dashed black 2px; }
          html body #invitePage #contentBody #inviteBox ul li:first-child {
            padding: 20px 4% 10px 4%; }
          html body #invitePage #contentBody #inviteBox ul li:last-child {
            padding: 10px 4% 20px 4%; }
        html body #invitePage #contentBody #inviteBox #bothInviteBttns {
          margin: 0;
          display: flex;
          justify-content: space-between; }
          html body #invitePage #contentBody #inviteBox #bothInviteBttns span {
            margin: 0;
            border: solid black 1px;
            border-radius: 20px;
            padding-top: 20px;
            font-size: 4rem;
            text-align: center;
            width: 47%; }
          html body #invitePage #contentBody #inviteBox #bothInviteBttns #inviteLogin {
            color: black;
            background-color: gold; }
          html body #invitePage #contentBody #inviteBox #bothInviteBttns #inviteCreate {
            color: gold;
            background-color: black; }
        html body #invitePage #contentBody #inviteBox .inviteFormBox {
          border: 1px solid black;
          font-size: 3.5rem; }
          html body #invitePage #contentBody #inviteBox .inviteFormBox form .formTitle {
            margin: 60px 0 10px 0;
            text-align: center; }
          html body #invitePage #contentBody #inviteBox .inviteFormBox form input {
            margin: 0 10%;
            border: 1px solid black;
            font-size: 3rem;
            text-align: center;
            width: 80%; }
          html body #invitePage #contentBody #inviteBox .inviteFormBox form .submitInvite {
            margin: 50px 25% 30px 25%;
            border-radius: 30px;
            display: block;
            width: 50%; }
        html body #invitePage #contentBody #inviteBox #inviteLoginBox {
          display: none;
          color: black;
          background-color: gold; }
        html body #invitePage #contentBody #inviteBox #inviteCreateBox {
          display: none;
          color: gold;
          background-color: black; }
    html body #makePage #makeTitleBkgd {
      margin-bottom: 40px;
      padding: 90px 5%;
      background-size: cover;
      background-image: url("https://get.pxhere.com/photo/ice-hockey-hockey-sports-ball-game-team-sport-roller-in-line-hockey-stick-and-ball-games-college-ice-hockey-ice-hockey-position-defenseman-bandy-204021.jpg"); }
      html body #makePage #makeTitleBkgd #makeTitle {
        border-radius: 30px;
        padding: 40px 0;
        font-size: 8rem;
        font-family: 'Bevan', cursive;
        color: #b50707;
        text-align: center;
        background-color: white; }
    html body #makePage b {
      margin: 0 5% 30px 5%;
      display: block;
      font-size: 3rem;
      text-align: center; }
    html body #makePage .gameList {
      margin: 0 5% 50px 5%;
      border: 3px solid green;
      border-radius: 20px;
      width: 90%; }
      html body #makePage .gameList .roundTitle {
        border-radius: 20px 20px 0 0;
        padding: 30px 0;
        color: white;
        font-family: 'Special Elite',cursor;
        font-size: 5rem;
        text-align: center;
        background-color: green; }
      html body #makePage .gameList .allRoundLists {
        border-radius: 0 0 20px 20px;
        font-size: 2.7rem; }
        html body #makePage .gameList .allRoundLists div {
          padding: 20px 0;
          display: flex;
          justify-content: space-around;
          text-align: center; }
          html body #makePage .gameList .allRoundLists div .allTeams {
            padding: 0;
            border: 4px solid green;
            border-radius: 20px;
            background-color: white;
            width: 40%; }
          html body #makePage .gameList .allRoundLists div .allTeams:last-child {
            border-radius: 20px; }
          html body #makePage .gameList .allRoundLists div .vs {
            padding: 0;
            width: 10%; }
        html body #makePage .gameList .allRoundLists div:last-child {
          border-radius: 0 0 20px 20px; }
    html body #makePage form #makeSubmitBox {
      margin: 40px 5% 80px 5%;
      display: flex;
      justify-content: space-between;
      font-size: 6rem;
      font-family: 'Staatliches', cursive; }
      html body #makePage form #makeSubmitBox #submitBracket {
        border-radius: 10px;
        color: white;
        text-align: center;
        background-color: blue;
        width: 50%; }
      html body #makePage form #makeSubmitBox input {
        font-size: 4rem;
        text-decoration: underline;
        text-align: center;
        width: 30%; }
    html body #viewPage form #returnBttn {
      margin: 15px 15px 0 15px;
      padding: 10px 15px;
      border: 1px solid green;
      border-radius: 15px;
      font-size: 2.5rem; }
    html body #viewPage #titleBkgd {
      margin: 20px 0;
      padding: 100px 5%;
      background-size: cover;
      background-image: url("https://www.whatsuplife.in/gurgaon/blog/wp-content/uploads/2018/06/fifa-1-702x336.jpg"); }
      html body #viewPage #titleBkgd #viewTitle {
        border-radius: 25px;
        font-size: 8rem;
        font-family: "Bevan", cursive;
        color: #b50707;
        text-align: center;
        background-color: white; }
    html body #viewPage #statsBox {
      margin: 80px 5% 80px 5%;
      border-radius: 25px;
      padding: 50px 5%;
      text-align: center;
      font-size: 5rem;
      font-family: "Special Elite", cursive;
      color: white;
      background-color: blue; }
      html body #viewPage #statsBox #plyrName {
        margin-bottom: 25px; }
      html body #viewPage #statsBox #scoreRow {
        margin-top: 25px; }
    html body #viewPage .oneScoreList {
      margin: 0 5% 80px 5%;
      text-align: center;
      width: 90%; }
      html body #viewPage .oneScoreList .oneTitle {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        font-size: 5.5rem;
        color: red; }
        html body #viewPage .oneScoreList .oneTitle span {
          color: black;
          font-family: "Staatliches", cursive; }
      html body #viewPage .oneScoreList .oneScoreRow {
        margin: 2px 0;
        border-radius: 15px;
        padding: 10px 3%;
        display: flex;
        justify-content: space-between;
        font-size: 3.5rem; }
    html body #viewPage #bottomPoints {
      display: none; }
    html body #viewPage #showDelBox {
      margin: 40px 0 0 0;
      padding: 20px 0;
      font-size: 2rem;
      color: white;
      text-align: center;
      background-color: black; }
    html body #viewPage #delBox {
      margin: 0;
      font-size: 2.5rem;
      padding: 30px 5%;
      background-color: lightgrey; }
      html body #viewPage #delBox p {
        margin-bottom: 60px;
        padding: 0 5%; }
      html body #viewPage #delBox form {
        display: flex;
        justify-content: space-between; }
        html body #viewPage #delBox form input {
          border-radius: 20px;
          padding: 20px;
          color: white;
          font-size: 3rem;
          background-color: red; }
        html body #viewPage #delBox form span {
          font-size: 3.5rem; }

@media only screen and (min-width: 1366px) {
  html body #playerPage .allBox {
    margin-bottom: 70px;
    padding: 70px 0; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage .allBox .allInnerBox .allBoxTitle {
    font-size: 2.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage .allBox .allInnerBox #grpBoxTitle {
    font-size: 4rem;
    padding-left: 8%; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage .allBox #optionInnerBox {
    padding: 40px 1%; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow {
    display: flex;
    justify-content: space-around; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow #profIdBox {
    width: 45%; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow #profIdBox #profIdTable tr {
    font-size: 2rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow #profIdBox #profIdBtns {
    margin: 20px 0; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow #profIdBox #profIdBtns input {
    font-size: 2.3rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow #grpListBox {
    width: 45%; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow #grpListBox #completeList {
    font-size: 2rem;
    max-height: 200px; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #topRow #grpListBox #completeList a .listContent {
    padding: 10px 10% 10px 5%; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption {
    width: 30%; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption .allOptTitle {
    margin: 20px 0;
    text-decoration: underline;
    font-size: 2.4rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroup #findGrpV {
    display: none; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #showAddBox #showAddV {
    display: none; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroupBox form #searchBtn {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #findGroupBox form input {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #searchResults {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #searchResults #resultList p {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form table tr td input {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form table tr td select {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form div #submitNewGrp {
    font-size: 1.5rem; } }
@media only screen and (min-width: 1366px) {
  html body #playerPage #groupBox #allNewOpts .newGrpOption #addGroupBox form div span {
    display: none; } }
html body #groupPage #scrollPlayers #playerTable tr td a:hover {
  cursor: pointer; }

/*# sourceMappingURL=output.css.map */
